:root {
    font-family: Inter, Inter, system-ui, Elvetica, Avenir, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background: linear-gradient(45deg, #070F2B 45%, #1B1A55);
}

img {
    max-width: 150px;
    border-radius: 100px;
    margin-bottom: -10px;
    mask-image: linear-gradient(black 80%, transparent);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin-bottom: -0.5rem;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
    padding: 4em 8em;
    text-align: left;
    column-gap: 8%; 
}

nav {
    display: flex;
    flex-direction: column;
    margin: 15px 0;

}

nav>a {
    width: 50%;
    text-decoration: none;
    color: gray;
    font-size: 1em;
    font-weight: bolder;
    padding: 5px;
}

nav>a:hover {
    color: white;
    transform: translateX(20px);
}

.contact {
    margin-top: 50px;
}

.contact>a {
    margin: 2px;
}

@media (max-width: 1000px) {
    #app {
        grid-template-columns: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5em;
    }

    #app {
        padding: 4em;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
